#main {
    max-width: 974px;
    margin: auto;
    margin-top: 8em;
}

.section {
    margin-bottom: 5em;
}

.section-title {
    font-family: Roboto;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
}

.section-icon {
    width: 60px;
    vertical-align: middle;
    margin-left: 1em;
}

.categories {
    background: white;
    position: relative;
    border-radius: 8px;
}

.categories-border {
    position: absolute;
    left: 0px;
    width: 13px;
    top: -10px;
    bottom: -10px;
    border-radius: 10px 0 10px 0;
}

.category {
    display: block;
    padding: 0.7em 2em;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: 22px;
    font-weight: 500;
    transition: background-color .33s;
    cursor: pointer;
}

.category:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.category-title {
    display: inline-block;
    vertical-align: middle;
}

.category-icon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 2em;
    display: inline-block;
}